<header>
    <div class="row text-center">
        <h1 class="header-title">{{vm.appName}}</h1>
    </div>
    <img class="case hidden-xs" src="images/case.png">
    <img class="airplane hidden-xs" src="images/airplane.png">
    <img class="guidepost" src="images/guidepost.png">
</header>
<section class="main-content">
    <div class="hbox">
        <div class="col search-panel" data-ng-include="'app/layout/aside.html'"></div>
        <div class="col" data-ng-include="'app/layout/content.html'"></div>
    </div>
</section>